[Unit]
Description=Curates files for the media player service
After=media-player.service
After=graphical.target

[Service]
Type=exec
User=msuser
ExecStart=mantel --media-folders @@MEDIA_FOLDERS@@
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target
